<h2>{{ displayHeader() }}</h2>

<div class="game">
  <div class="game-board">
    <app-row *ngFor="let colors of board; let key = index"
      [colors]="colors"
      [row]="key"
      [winner]="winner"
      (dropCoin)="dropCoin($event)">
    </app-row>
  </div>

  <app-reset-button
    class="game-reset"
    [winner]="winner"
    (resetBoard)="resetBoard()">
  </app-reset-button>

  <app-scoreboard
    class="game-scoreboard"
    [redWins]="score?.red"
    [yellowWins]="score?.yellow">
  </app-scoreboard>
</div>
